In [1]:
import pandas as pd
from IPython.display import HTML

In [2]:
df = pd.read_csv("./data_sample.csv", delimiter='|')

In [3]:
HTML(df.to_html(index=False, classes='table-striped'))

In [4]:
df_sum = pd.DataFrame(data=df.sum())

In [5]:
HTML(df_sum.to_html(header=False, ))